# Ignorar archivos de git
.git
.gitignore

# Archivos y carpetas de dependencias
venv/
env/
*.env

# Archivos de editor y sistema
.vscode/
.idea/
*.swp

# Archivos de configuración locales
*.local

# Archivos de logs
*.log
*.pid
